@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Privacy Policy</h3>


<p>
This Privacy Policy explains how CatchTracker ("we," "us," or "our") collects, uses, discloses, and protects information about you. By accessing or using our website, www.CatchTracker.info (the "Site") or our services, you consent to the terms of this Privacy Policy.
</p>

<h5>Information We Collect</h5>

<p>
We collect information you provide directly to us, such as when you fill out a contact form, subscribe to our newsletter, or create an account. The types of information we may collect include your name, email address, postal address, phone number, and any other information you choose to provide.
</p>

<p>
We may also automatically collect certain information when you use our Site, such as your IP address, device identifier, browser type, operating system, and browsing behavior.
</p>

<h5>How We Use Your Information</h5>

<p>We may use the information we collect for various purposes, including to:

    Provide, maintain, and improve our services
    Communicate with you about your account or our services
    Send you promotional messages, newsletters, and other information about our products and services
    Monitor and analyze trends, usage, and activities in connection with our services
    Detect, investigate, and prevent fraudulent transactions and other illegal activities

</p>    
    
<h5>Disclosure of Your Information</h5>

<p>
We may disclose your information to third parties for various purposes, including to:

    Service providers who help us with the operation of our business
    Compliance with legal obligations
    Protect our rights, property, or safety, or the rights, property, or safety of others
    Business transfers, such as in connection with a merger, acquisition, or sale of assets
</p>

<h5>Your Choices</h5>

<p>
You may opt out of receiving promotional communications from us by following the instructions in those communications or by contacting us directly. Please note that even if you opt out, we may still send you non-promotional messages, such as those related to your account or transactions.
<p>

<h5>Security</h5>

<p>
We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, so we cannot guarantee its absolute security.
</p>

<h5>Changes to This Privacy Policy</h5>

<p>
We may update this Privacy Policy from time to time. If we make any material changes, we will notify you by posting the new Privacy Policy on this page.
<p>


<h5>Contact Us</h5>

<p>
If you have any questions about this Privacy Policy, please contact us at contact@catchtracker.info.
</p>